<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>{{ 'titles.tutorial' | translate }}</h4>
    <div>
      <label><strong>{{ 'titles.title' | translate }}:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>{{ 'titles.description' | translate }}:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>{{ 'titles.status' | translate }}:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a class="badge badge-warning"
       routerLink="/tutorials/{{ currentTutorial.id }}">
      {{ 'titles.edit' | translate }}
    </a>
  </div>
</div>
<div *ngIf="!currentTutorial">
  <br/>
  <p>{{ 'titles.pleaseClick' | translate }}</p>
</div>


<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>{{ 'titles.tutorial' | translate }}</h4>
    <form>
      <div class="form-group">
        <label for="title">{{ 'titles.title' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">{{ 'titles.description' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>{{ 'titles.status' | translate }}:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      {{ 'buttons.unpublish' | translate }}
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      {{ 'buttons.publish' | translate }}
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      {{ 'buttons.delete' | translate }}
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      {{ 'buttons.update' | translate }}
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br/>
    <p>{{ 'titles.cannotAccess' | translate }}</p>
  </div>
</ng-template>
