<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{ 'navbar.brand' | translate }}</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">{{ 'navbar.tutorials' | translate }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" *ngIf="role == 'ADMIN'">{{ 'navbar.add' | translate }}</a>
      </li>
    </div>
    <div class="navbar-nav ml-auto">
      <button class="btn btn-link" (click)="switchLanguage('en')">{{ 'buttons.english' | translate }}</button>
      <button class="btn btn-link" (click)="switchLanguage('ru')">{{ 'buttons.russian' | translate }}</button>
      <button class="btn btn-link" *ngIf="role !== ''" (click)="redirectToUserRepresentation()">Info</button>
      <button class="btn btn-link" *ngIf="role !== 'GUEST'" (click)="redirectToUserOrderRepresentation()">Orders</button>
      <button class="btn btn-link" *ngIf="role !== 'GUEST'" (click)="redirectToChatPage()">Support</button>
      <div class="notification-circle" (click)="redirectToChatPage()" *ngIf="role !== 'GUEST' && numberOdUnreadMessaged != undefined && numberOdUnreadMessaged > 0 ">{{ numberOdUnreadMessaged }}</div>
      <button class="btn btn-link" *ngIf="role == 'ADMIN'" (click)="adminPanel()">Admin Panel</button>
      <button class="btn btn-link" *ngIf="role == 'ADMIN'" (click)="userRequests()">Requests</button>
      <button class="btn btn-link" (click)="logOut()">Exit</button>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
