<div class="app-container">
  <div class="users-container">
    <h2>Users</h2>
    <div *ngFor="let user of users" (click)="startDialog(user.email)">
      {{ user.firstName }} {{ user.lastName }}
    </div>
  </div>

  <div class="dialog-container">
    <div *ngIf="selectedUser" class="selected-user">
      <h2>{{ selectedUser.firstName }}</h2>
      <div *ngFor="let message of messages" class="message-container">
        <p *ngIf="message.content !== ''">
          <strong *ngIf="message.sender?.firstName === selectedUser.firstName; else notYou">
            {{ message.sender?.firstName }}:
          </strong>
          <ng-template #notYou><strong>You:</strong></ng-template>
          {{ message.content }}
          <br>
          <small><small>{{ message.sentDateTime | date: 'medium' }}</small></small>
        </p>
      </div>
      <textarea [(ngModel)]="newMessage" placeholder="Write text..."></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
    <div *ngIf="!selectedUser" class="placeholder">Select a user to start a dialog</div>
  </div>
</div>

