.app-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.users-container, .dialog-container {
  flex: 1;
}

.users-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.users-container h2 {
  margin-bottom: 10px;
}

.user-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-item:hover {
  background-color: #f5f5f5;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px;
}

.selected-user {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.message-container {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  max-width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.message-container p {
  margin: 0;
}

.own-message {
  align-self: flex-end;
  background-color: #4caf50;
  color: white;
}

textarea {
  resize: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 16px;
  width: calc(100% - 22px);
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.placeholder {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.own-message {
  align-self: flex-end;
  background-color: #4caf50;
  color: white;
  margin-left: auto;
}


.users-container {
  display: flex;
  flex-direction: column;
}

.user-item {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-item.selected-user {
  border-bottom: 2px solid #4caf50;
}

.notification-circle {
  position: absolute;
  top: 12.7%;
  right: 1385px;
  transform: translateY(-50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container.other-user-message {
  background-color: #1094ea;
  color: white;
}


.message-container.own-message {
  background-color: #4caf50;
  color: white;
}

