<div class="email-list">
  <div>
    <label for="searchText">Search Text:</label>
    <input type="text" id="searchText" [(ngModel)]="searchText"/>
  </div>
  <div>
    <label>
      <input type="radio" [(ngModel)]="searchType" value="sender"/> Search by Sender
    </label>
    <label>
      <input type="radio" [(ngModel)]="searchType" value="subject"/> Search by Subject
    </label>
    <label>
      <input type="radio" [(ngModel)]="searchType" value="content"/> Search by Content
    </label>
  </div>
  <button (click)="search()">Search</button>
  <button class="create-button" (click)="getUnreadMessages()">Unread messages</button>
  <button class="create-button" (click)="openDatepicker()">Pin date</button>
  <input *ngIf="showDatepicker" type="date" (change)="handleDateChange($event)"/>
  <div *ngFor="let email of emails" class="email-item">
    <div class="email-header">
      <strong>Topic:</strong> {{ getEmailHeaderValue(email, 'Subject') }}
    </div>
    <div class="email-details">
      <strong>Sender:</strong> {{ getEmailHeaderValue(email, 'From') }}
    </div>
    <div class="email-details">
      <strong>Date:</strong> {{ getEmailHeaderValue(email, 'Date') | date }}
    </div>
    <div class="email-content">
      <strong>Content:</strong> {{ email.snippet }}
    </div>
    <div *ngIf="showUnreadMessages" class="unread-indicator">
      &#9733;
    </div>
    <hr/>
  </div>
  <button class="create-button" (click)="getOutgoingMessages()">Outgoing messages</button>
  <button class="create-button" (click)="openComposeForm()">New mail</button>
  <div *ngIf="showComposeForm" class="compose-form">
    <h2>Create</h2>
    <div>
      <label for="to">To:</label>
      <input type="text" id="to" [(ngModel)]="newEmail.to"/>
    </div>
    <div>
      <label for="subject">Subject:</label>
      <input type="text" id="subject" [(ngModel)]="newEmail.subject"/>
    </div>
    <div>
      <label for="body">Body:</label>
      <textarea id="body" [(ngModel)]="newEmail.body"></textarea>
    </div>
    <div>
      <label for="attachment">Attachment:</label>
      <input type="file" id="attachment" (change)="handleAttachmentChange($event)"/>
    </div>
    <button (click)="closeComposeForm()">Cancel</button>
    <button (click)="sendEmail()">Send</button>
  </div>

</div>
