<div>
  <div>
    <app-modal
      *ngIf="isModalOpen"
      [title]="'Error occupies during the request'"
      [message]="this.errorMessage"
      (close)="handleModalClose()"
    ></app-modal>
  </div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">{{ 'form.title' | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'form.description' | translate }}</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <button (click)="saveTutorial()" class="btn btn-success">{{ 'form.submit' | translate }}</button>
    </div>

    <div *ngIf="submitted">
      <h4>{{ 'form.successMessage' | translate }}</h4>
      <button class="btn btn-success" (click)="newTutorial()">{{ 'form.addButton' | translate }}</button>
    </div>
  </div>
</div>
