<div *ngIf="currentTutorial.id">
  <h4>{{ 'titles.tutorial' | translate }}</h4>
  <div>
    <label><strong>{{ 'titles.title' | translate }}:</strong></label> {{ currentTutorial.title }}
  </div>
  <div>
    <label><strong>{{ 'titles.description' | translate }}:</strong></label>
    {{ currentTutorial.description }}
  </div>
  <div>
    <label><strong>OverView:</strong></label>
    {{ currentTutorial.overview }}
  </div>
  <div>
    <label><strong>Let`s start</strong></label>
    {{ currentTutorial.content }}
  </div>
  <div *ngIf="imageData">
    <label><strong>Image:</strong></label>
    <img [src]="displayImage()" alt="Image">
  </div>
</div>
