<div *ngIf="order && order.tutorialsOrder && order.tutorialsOrder.length > 0">
  <h2>User Orders</h2>

  <div>
    <div class="order-container">
      <h3>My tutorial in progress</h3>

      <div *ngFor="let tutorial of order.tutorialsOrder">
        <div *ngIf="order.orderStatus != 'CANCELED' || order.orderStatus != 'FAILED'">
          <div class="tutorial-details">
            <h4>{{ tutorial.title }}</h4>
            <p>{{ tutorial.description }}</p>
            <p>Status: {{ tutorial.status }}</p>
            <p>{{ tutorial.content }}</p>
            <p>{{ tutorial.overview }}</p>
            <p>{{ tutorial.image }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="order-container">
      <h3>Order history</h3>
      <div *ngFor="let tutorial of order.tutorialsOrder">
        <div *ngIf="order.orderStatus != 'SUCCESSFULLY' && order.orderStatus != 'OPENLY'">
          <div class="tutorial-details">
            <h4>{{ tutorial.title }}</h4>
            <p>{{ tutorial.description }}</p>
            <p>Status: {{ tutorial.status }}</p>
            <p>{{ tutorial.content }}</p>
            <p>{{ tutorial.overview }}</p>
            <p>{{ tutorial.image }}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="clear-orders-button" (click)="clearBucketOrder()">
      <img src="assets/cart-icon.png" alt="Clear Orders"/>
    </button>
  </div>
</div>
<div>
  <h2>Make Payment</h2>
  <button (click)="handlePayment()">Pay $10</button>
  <div #cardElement></div>
</div>
<button (click)="cancelOrder()">Cancel order</button>
<button (click)="paidOrder()">Paid</button>
<div *ngIf="!order || !order.tutorialsOrder || order.tutorialsOrder.length === 0">
  <p>No orders available.</p>
</div>
<script src="https://js.stripe.com/v3/"></script>
