.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-info {
  flex-grow: 1;
}

.orders-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.orders-view {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 15px;
  border-radius: 5px;
}

.tutorial-info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

hr {
  margin-top: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Добавлено для создания отступа справа */
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.search-button {
  background-color: #5bc0de;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .user-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container {
    margin-right: 0;
  }

  .search-bar input {
    width: 100%;
    margin-right: 0;
  }

  .search-button {
    margin-top: 10px;
  }
}


@media (max-width: 480px) {
  .user-container {
    padding: 10px;
  }

  .orders-button {
    padding: 6px 8px;
    font-size: 14px;
  }

  .tutorial-info {
    padding: 8px;
    font-size: 14px;
  }
}
